* {
  margin: 0;
  padding: 0;
}

table {
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-left: 4px solid;
  border-right: 4px solid;
}

td {
  border: 2px solid;
}

input[type=number] {
  width: 50px;
  height: 50px;
  border: none;
  text-align: center;
  font-size: 35px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#fila3, #fila6 {
  border-bottom: 4px solid;
}

#casilla3, #casilla6 {
  border-right: 2px solid;
}

#fila1 #casilla4, #fila1 #casilla5, #fila1 #casilla6, #fila2 #casilla4, #fila2 #casilla5, #fila2 #casilla6, #fila3 #casilla4, #fila3 #casilla5, #fila3 #casilla6, #fila7 #casilla4, #fila7 #casilla5, #fila7 #casilla6, #fila8 #casilla4, #fila8 #casilla5, #fila8 #casilla6, #fila9 #casilla4, #fila9 #casilla5, #fila9 #casilla6 {
  background-color: #d4d4d477;
}

#fila4 #casilla1, #fila4 #casilla2, #fila4 #casilla3, #fila4 #casilla7, #fila4 #casilla8, #fila4 #casilla9, #fila5 #casilla1, #fila5 #casilla2, #fila5 #casilla3, #fila5 #casilla7, #fila5 #casilla8, #fila5 #casilla9, #fila6 #casilla1, #fila6 #casilla2, #fila6 #casilla3, #fila6 #casilla7, #fila6 #casilla8, #fila6 #casilla9 {
  background-color: #d4d4d477;
}

input[type=number]:focus {
  outline: none;
  background-image: radial-gradient(#ffffff00 15%, #5dc7da4d 98%) !important;
  caret-color: #eeeeee00;
}

/*
    *{
        padding: 0;
        margin: 0;
    }

    td{
        border: 2px solid;
    }

    input[type=number]{
        width: 75px;
        height: 75px;
        border: none;
        text-align: center;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    #fila1 > .columna > #casilla4{
        background-color: red;
    }
    */
/*# sourceMappingURL=style.css.map */