$colorfondo : #d4d4d477
    
    
    
*
    margin: 0
    padding: 0

table
    border-top: 4px solid
    border-bottom: 4px solid
    border-left: 4px solid
    border-right: 4px solid

td 
    border: 2px solid

input[type=number]
    width: 50px
    height: 50px
    border: none
    text-align: center
    font-size: 35px

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button 
    -webkit-appearance: none;
    margin: 0;

#fila3, #fila6
    border-bottom: 4px solid

#casilla3, #casilla6
    border-right: 2px solid


#fila1, #fila2, #fila3, #fila7, #fila8, #fila9

    #casilla4, #casilla5, #casilla6
        background-color: $colorfondo

#fila4, #fila5, #fila6

    #casilla1, #casilla2, #casilla3, #casilla7, #casilla8, #casilla9
        background-color: $colorfondo


input[type=number]:focus

    outline: none
    background-image: radial-gradient(#ffffff00 15%, #5dc7da4d 98%) !important
    caret-color: #eeeeee00



/*
    *{
        padding: 0;
        margin: 0;
    }

    td{
        border: 2px solid;
    }

    input[type=number]{
        width: 75px;
        height: 75px;
        border: none;
        text-align: center;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    #fila1 > .columna > #casilla4{
        background-color: red;
    }
    */