@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

.jum {
  background-image: url('');
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  margin: auto;
}
/* Lineas del triqui*/

.fila {
  border-bottom: 2px solid;
}

.columna{
    border-right: 2px solid;
}

h1 {
  font-size: 4rem;
  font-family: 'Sen', sans-serif;
}

table {
  width: 420px;
  height: 420px;
}

.btn{
  display: none;
}

li{
  list-style: square;
}